@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lobster&family=Press+Start+2P&display=swap');


:root {
    --nippon-paint: rgb(0,0,0);
    --primary-black: #0d1b2aff;
    --secondary: #1b263bff;
    --bdazzled-blue: #415a77ff;
    --shadow-blue: #778da9ff;
    --text-plat: #e0e1ddff;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-black);
    z-index: -5;
}